<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/jquery-weui/dist/lib/weui.min.css">
	<link rel="stylesheet" href="/jquery-weui/dist/css/jquery-weui.css">	

    <link rel='stylesheet' href='/stylesheets/insurance.css' />
</head>
