<!DOCTYPE html>
<html>
<% include header.ejs %>
<body ontouchstart="">
<div class="container">
    <div class="bd">
        <div class="weui_msg">
		  <div class="weui_icon_area"><i class="weui_icon_success weui_icon_msg"></i></div>
		  <div class="weui_text_area">
		    <h2 class="weui_msg_title">保单录入成功</h2>
		    <p class="weui_msg_desc"></p>
		  </div>
		  <div class="weui_opr_area">
		    <p class="weui_btn_area">
		      <a href="/order/history" class="weui_btn weui_btn_primary">保单查询</a>
		      <a href="/order" class="weui_btn weui_btn_default">继续录入</a>
		    </p>
		  </div>
		</div>
    </div>

</div>
<% include footer.ejs %>
</body>
</html>
