<!DOCTYPE html>
<html>
<% include header.ejs %>
<body>
<div class="container">
    <div class="hd">
        <h1 class="page_title"><%= title %></h1>
    </div>
    <div class="bd">
        <div class="weui_cells">
            <% userItems.forEach(function (item) { %>
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <p><%= item.desc %></p>
                </div>
                <div class="weui_cell_ft"><%= item.val %></div>
            </div>
            <% }) %>
        </div>
    </div>

</div>
<% include footer.ejs %>
</body>
</html>
